<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        var text = "";
         $('.update').on('click', function() {
            req = $.ajax({
                url : '/update',
                dataType: 'json',
                type : 'POST',
                success: function(resp){
                    for (item of resp['resp']) {
                        text += `<div> ${item[0]} -- ${item[1]} </div>`
                    }
                    $('#table').html(text);
                    text = "";
                }
            });
         });
       });
  </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket Thing1</title>
</head>
<body>
    <script>
    // Create WebSocket connection.
    var socket = new WebSocket("ws://localhost:5000/ws");

    // Connection opened
    socket.addEventListener('open', function (event) {
        console.log('Connected')
    });

    // Connection closed
    socket.addEventListener('close', function (event) {
        console.log('Disconnected')
    });

    // Listen for messages
    socket.addEventListener('message', function (event) {
        console.log('Message: ', event.data);
    });
    // Send a msg to the websocket
    const sendMsg = () => {
        socket.send(document.getElementById('msg').value);
    }
    </script>
    {% block content %}
        Client1
        <div class="row">Текст: <input type="text" minlength="1" id="msg"></div>
        <button onclick="sendMsg()" class="update">Send Msg</button>
        <div name="table" id="table">
           {% for item in resp %}
                <div>{{item.0}} -- {{item.1}}</div>
            {% endfor %}
        </div>
    {% endblock %}
</body>
</html>